.idea/
.vscode/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
ctfd-app/
CTFd/*.zip

ctfd-app/
CTFd/*.zip


.docker/
*.log
*.pid
*.seed
*.pid.lock

.env
.env.local
.env.*.local

docker-compose.override.yml