.mainer-than-main{
    background-color: rgb(54, 195, 113);
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.main-inputs{
    background-color: rebeccapurple;
    display: flex;
    gap: 10px;
}

.text{
    background-color: aqua;
    /* gap: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-boxes{
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}