<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>l1ghtw0rk by d4rkc0de</title>
</head>
<body>
    <p>https://discord.gg/v6jEASu7Rx</p>
    <p>{{ name if name else "error"}}</p>
    <p>{{ username if username else "error"}}</p>
    <p>{{ branch if branch else "error"}}</p>

    
    <p>level-1</p>
    <p>level-2</p>
    <p>level-3</p>
    <p>level-4</p>
    <p>level-5</p>
    
</body>
</html>

