<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>l1ghtw0rk by d4rkc0de</title>
</head>
<body>
    <div class="mainer-than-main">
    <div class="main-inputs">
        <div class="text">
            <label for="full-name">Full Name</label>
            <br>
            <label for="username">Username</label>
            <br>
            <label for="branch">Branch</label>
            <br>
            <label for="experience">Experience</label>
        </div>

        <div class="input-boxes">
            <input
                type="text"
                id="full-name"
                name="full-name"
                value="{{ full_name if full_name else '' }}"
            >
            <br>

            <input
                type="text"
                id="username"
                name="username"
                value="{{ username if username else '' }}"
            >
            <br>

            <input
                type="text"
                id="branch"
                name="branch"
                value="{{ branch if branch else '' }}"
            >
            <br>

            <input
                type="range"
                id="experience"
                name="experience"
                min="0"
                max="10"
                value="{{ experience if experience is defined else 0 }}"
            >
        </div>
        
    </div>
    <button type="submit">Register</button>
    </div>
    <script>

        

        // document.cookie = "name=dark; path=/";
        // document.cookie = "username=admin; path=/";
        // document.cookie = "branch=csd; path=/";

        console.log(document.cookie);


    </script>
</body>
</html>